/* 全体 */
body {
    color: #707070;
    width: 1920px;
    height: 1080px;
}
a {
    text-decoration:none;
}
.sub-title {
    margin-left: 30px;
}
.upper {
    height: 60px;
    display: flex;
    align-items: center;
}
.spacer {
    width: 100%;
}
/* 上メニュー */
.go_back {
    margin-left: 20px;
}
.shop {
    display: flex;
    margin-top: 20px;
}
dl {
    display: flex;
    flex-wrap: wrap;
    line-height: 1.8;
}
dl dt {
    width: 25%;
}
dl dd {
    width: 75%;
}
.shop-data-center {
    display: flex;
    width: 90%;
}
.data_a {
    margin-left: 20px;
}
.shop-data {
    width: 35%;
}
.average {
    display: flex;
}
/* お気に入りボタン */
.okini {
    width: 150px;
}

/* 店舗写真 */
.shop-photo {
    width: 500px;
    margin-right: 10px;
}
.shop-photos {
    display: flex;
    text-align: center;
}
.map {
    width: 294px;
    height: 220px;
}
.shop-review-data {
    width: 35%;
}

/* 下メニュー */
.bottom-menu {
    display: flex;
}

/* 左下共通 */
/* おすすめ近隣店舗/看板メニュー */
.recommend-shops {
    display: inline-block;
    width: 48%;
}
.recommends {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    width: 100%;
    margin-bottom: 10px;
}

.detail-link {
    margin-bottom: 10px;
}
.detail {
    width: 73px;
    height: 45px;
    border-radius: 22.5px;
    background: #e3c1bc;
    border: 1px solid #707070;
    margin-left: 150px;
}
img {
    width: 200px;
    height: 130px;
    background-color: #707070 ;
    opacity: 0.5;
    margin: 0 10px 0px 20px;
}
/*口コミ編集フォーム */
input {
    border-radius: 5px;
}
select {
    font-size: 20px;
}
.form-group {
    width: 620px;
    margin: 5px 0;
}
.review-form {
    display: flex;
    justify-content: center;
}
.rate {
    display: flex;
    margin-left: 720px;
}
.star {
    display: flex;
    flex-direction: row;
    color: #707070;
}
.star > p {
    width: 150px;
}
.space{
    float:left;
    width: 150px;
}
/* 写真追加 */
.picture {
    display: flex;
}
/* アクションボタンたち */
.buttons {
    margin-left: 500px;
    width: 100%;
}
.action-button {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}


button {
    width: 200px;
    height: 30px;
    border-radius: 15px;
    background: #f0dad8;
}
.spacer {
    width: 100%;
}
.btn {
    background-color: #f0dadb;
}
.post {
    background-color: #e0b687;
}

/* 口コミ一覧 */
.posting {
    display: flex;
    align-items: flex-end;
}

.review-wrapper {
    display: flex;
    margin: 10px 10px 10px -40px;
}
.review-details {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 850px;
    border: 1px solid #707070;
}
.review-words {
    width: 850px;
    display: inline-block;
    line-height: 1.8;
}
.posted-data {
    display: flex;
    flex-wrap:nowrap;
    font-size: 12px;
    width: 850px;
}
.post-title {
    width: 100%;
}
.date {
    width: 60%;
}
.row {
    margin-left: 20px;
}
/* 投稿写真 */
.post-img {
    flex-direction: row;
    margin: 0;
}


*{
    margin: 0;
    padding: 0;
    font-style: normal;
    font-family: "Hiragino Kaku Gothic ProN";

}

.font{
    font-family: "Hiragino Kaku Gothic ProN";
    color: #707070;

}

.container{
    box-sizing: border-box;
    width: calc(100% - 240px);
    display: flex;
    flex-direction: column;
}

.all_clear{

    border: 1px solid;
    background-color: transparent;
    color: #505050;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 270px;
    border-radius: 100px;
    text-align: center;
    cursor: pointer;
}

.rogo{
    width: 61px;
    height: 61px;

}

.word{
    font-size: 15px;
    text-align: left;
    color: #707070;
    text-align: center;
}

.container{
    display: flex;
}

.subject{
    display: flex;

}

.review {
    display: flex;
    flex-direction: column;
    width: 1920px;
    }

.content {
    display: flex;
    margin: 30px;
}

.storephoto {
    width: 263px;
    height: 176px;

}

.add {
    display: grid;
    width: 180px;
    text-align: center;
}

.info {
    width: 410px;
    height: 176px;
    font-size: 20px;
    text-align: center;
    margin: 0px 20px;
}

.usercoment{
    width: 410px;
height: 176px;
font-size: 20px;
text-align: left;
}

.userinfo {
    display: -webkit-box;
}

.add_time{
    margin: 0px 20px;
}

.button {
    text-align: end;
}